<ul>
    <li><a href="sonic2.html">Sonic the Hedgehog 2</a></li>
    <li><a href="alttp.html">Un lien vers le passé</a></li>
    <li><a href="cacao.html">Cacao and coffee shop</a></li>
    <li><a href="dott.html">Day of the Tentacle</a></li>
    <li><a href="rick.html">Rick Dangerous</a></li>
    <li><a href="savage.html">Savage</a></li>
    <li><a href="goldorak.html">Goldorak</a></li>
    <li><a href="r-type.html">R-Type</a></li>
    <li><a href="sms-player.html">Sega Master System Sound Player</a></li>
</ul>