
<div markdown="1">
<hr />

<h2>Instructions</h2>
<h3>Disquette</h3>

<p>
    L'image de disquette permet l'exécution dans un émulateur.<br>Si vous souhaitez créer une disquette à l'aide de votre Thomson, nous vous conseillons d'utiliser l'outil <a href="http://dcmoto.free.fr/programmes/sddrive-sd2dsk/index.html" target="_blank">SD2DSK</a>
</p>

<h3>SDDRIVE</h3>
<p>
    Copiez le fichier .sd sur une carte mémoire, vérifiez que votre fichier .sel est à jour sur la carte et insérez la dans votre SDDRIVE.
</p>

<h3>Mégarom T.2</h3>

<a href="https://megarom.forler.ch/fr/" target="_blank"><img src="images/arrow.png"/> Mégarom T.2 ?</a>

<p>
Attention ! Cette procédure va effacer l'intégralité de votre Mégarom T.2, pour retrouver la compilation d'origine il faudra flasher de nouveau la cartouche avec le programme de mise à jour fourni par le fabricant (nous ne le fournissons pas).
</p>

<ul>
    <li> Copiez le fichier se terminant par _t2_flash.sd sur une carte mémoire,</li> 
    <li> vérifiez que votre fichier .sel est à jour sur la carte et insérez la dans votre SDDRIVE. </li>
    <li> Branchez votre SDDRIVE et insérez une cartouche Mégarom T.2,</li>
    <li> démarrez l'ordinateur et exécutez le fichier se terminant par _t2_flash.sd depuis votre SDDRIVE.</li>
</ul>

<p>A partir de ce moment, n'interrompez pas l'ordinateur (reset ou arrêt) jusqu'a la fin de la procédure !</p>

<p>Une barre de progression entierement rouge s'affiche, elle indique que la cartouche est en cours d'effacement. </p>

<p>La barre devient ensuite grise indiquant la progression de la copie des données de la carte sd vers la Mégarom T.2. 
Lorsque la barre devient verte, vous pouvez faire un reset de l'ordinateur.</p>

<p>Appuyez ensuite sur "`0`" dans le menu de l'ordinateur. </p>

<p>Une fois le jeu lancé, le reset s'obtient par un appui long (2 secondes) sur le bouton reset. Un appui court n'affichera pas la cartouche dans le menu de démarrage.</p>
</div>