
<div markdown="1">
<hr />

<h2>Instructions</h2>
<h3>Disquette</h3>

<p>
    L'image de disquette permet l'exécution dans un émulateur.<br>Si vous souhaitez créer une disquette à l'aide de votre Thomson, nous vous conseillons d'utiliser l'outil <a href="http://dcmoto.free.fr/programmes/sddrive-sd2dsk/index.html" target="_blank">SD2DSK</a>
</p>

<h3>SDDRIVE</h3>
<p>
    Copiez le fichier .sd sur une carte mémoire, vérifiez que votre fichier .sel est à jour sur la carte et insérez la dans votre SDDRIVE.
</p>

</div>